body {
  background: #333853;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font: 600 1rem Roboto;

  color: white;
  gap: 20px;
}
div {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
section {
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
aside {
  display: flex;
  align-items: center;
}
a {
  background: #3c4262;
  padding: 1rem 1.2rem;
  border-radius: 0.6rem;
  text-decoration: none;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.6;
  font-weight: 700;
  font-size: 20px;
  color: white;
}
h1 {
  font-size: 48pt;
  opacity: 0.6;
}
input {
  background: #3c4262;
  border: 0;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 150px;
  border-radius: 0.6rem;
  text-align: center;
  color: white;
  font: 700 48pt Roboto;
}
legend {
}

span {
  background: #3c4262;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
